bootstrap.servers=${SOURCE_CLUSTER}
group.id=${SOURCE_GROUPID}

security.protocol=SSL
ssl.truststore.location=${SOURCE_KAFKA_SSL_TRUSTSTORE_LOCATION}
ssl.truststore.type=${SOURCE_KAFKA_SSL_TRUSTSTORE_TYPE}
ssl.truststore.location=${SOURCE_KAFKA_SSL_KEYSTORE_LOCATION}
ssl.keystore.type=${SOURCE_KAFKA_SSL_KEYSTORE_TYPE}
ssl.keystore.password=${SOURCE_KAFKA_SSL_KEYSTORE_PASSWORD}
