bootstrap.servers=${TARGET_CLUSTER}

compression.codec=snappy
message.max.bytes=10485760
message.timeout.ms=300000
queue.buffering.max.ms=100
queue.buffering.max.kbytes=524288
request.required.acks=1
retry.backoff.ms=150

security.protocol=SASL_SSL
sasl.mechanism=SCRAM-SHA-512
ssl.ca.location=${SSL_CA_LOCATION}
sasl.username=${TARGET_KAFKA_USERNAME}
sasl.password=${TARGET_KAFKA_PASSWORD}

